.lasagna,
.waffles,
.roast {
    font-size: 32px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.lasagna {
    color: red;
    background-color: yellow;
}

.waffles {
    color: white;
    background-color: brown;
}

.roast {
    color: blueviolet;
    background-color: gold;
}

.pictures {
    width: 250px;
    height: auto;
}

button {
    background-color: orange;
    font-size: 28px;
    border-color: red;
    border-width: 5px;
}

.mainHeader {
    font-size: 48px;
    color: aqua;
}

body {
    background-color: black;
}

.recipeBody {
    background-color: white;
}